// colors


$primary-color: #FF2D5D;
$secondary-color: #28E6DF; 

$white-color: #FFF;
$gray-color-light: #F8F8F8;
$gray-color: #888890;
$gray-color-dark: #2B2E34;
$black-color: #1A1A26;

$black-transparent: rgba(0,0,0,0.34);
$accent-color: violet;



// /*--------------------------------------------------------------
// # Brand Colors
// --------------------------------------------------------------*/

$twitter-color: #00abed;
$fb-color: #4c68b3;
$vk-color: #426b9a;
$telegram-color: #37aee2;
$instagram-color: #ca007e;


