.accordeon {
    margin-bottom: 4rem;
    

    &__item {
        position: relative;
        list-style: none;
        border-top: 1px solid $gray-color;
        border-bottom: 1px solid $gray-color;
        margin-top: -1px;
        z-index: 2;
        transition: all 0.2s linear;

        &:hover {
            border-top: 1px solid $white-color;
            border-bottom: 1px solid $white-color;
            z-index: 10;  
            cursor: pointer;         
        }

        &--open {
            z-index: 10;
            border-top: 1px solid $white-color;
            border-bottom: 1px solid $white-color;
        }
    }

    &__header {
               
        padding: 2.5rem 0;
        @include respond(tab-land) {
            padding: 1.5rem 0;
        }

    }

    &__body {
 
        max-height: 0;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        transition: all 0.5s ease-in-out;

        @include respond(tab-land) {
            flex-direction: row;

        }
    }

    &__item--open &__body { max-height: 100vh; margin-bottom: 2rem; }

    &__title {

        font-weight: 400;

        &::before {
            display: inline-block;
            width: 2rem; 
            height:2rem;
            margin: 0 1rem -0.5rem 1rem;
            transition: transform 0.2s linear;
            background-image: url('img/chevron.svg');
            background-size: auto 2rem;
            background-position: left center;
            background-repeat: no-repeat;
            content: "";
        }

    }

    &__item--open &__title::before { transform: rotate(180deg);}

    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 4rem;
        
        @include respond(tab-land) {
            width: 33%;
            max-width: 31rem;
            margin-right: 4rem;
            margin-bottom: 1rem;
            @supports (height: intrinsic) {
                height: intrinsic
            }
        }
        @include respond(desktop) {
            margin-right: 8rem;
        }

    }

    &__text {
        padding-bottom: 4rem;
        @include respond(tab-land) {
            padding-bottom: 0;
        }
    }
}