.cards {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
  
    @include respond(phone) {
        &.container {padding: 0;}
    }
    @include respond(tab-land) {flex-direction: row;}

    &__wrapper {
        @include respond(tab-port) {display: flex; flex-direction: row;}
        @include respond(tab-land) {flex-direction: column;}
    }

    &__item {
       width: 100%;
        background-color: $gray-color-dark;
        margin-bottom: 0.5rem;
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
        @include respond(tab-port) {padding: 2rem;}

        &--main {
            min-height: 80vh;
            @include respond(tab-port) {min-height: 50rem;}
            @include respond(tab-land) {margin: 0 0.5rem 0 0; min-height: unset; min-width: 47rem; }
        }
        &--second {
            @include respond(tab-port) {margin-right: 0.5rem;}
            @include respond(tab-land) {margin: 0 0 0.5rem 0;}
        }
        &--third {
            background-color: $gray-color;
            @include respond(tab-land) {margin: 0;}
        }
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 1;

        & img {
            width:100%; 
            height:100%;
            object-fit: cover;
            object-position: 50% 50%;
            max-width: none;
            z-index: 0;
            
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            background-image: linear-gradient(rgba($black-color, 0), rgba($black-color, 1));
            z-index: 2;
        }
        
    }

    &__link {
        
    }

    &__text {
        position: relative;
        z-index: 5;
        color: $white-color;
    }

    &__title {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 2rem;
        color: $white-color;
    }

    &__digits {
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 4rem;
        & strong {
            font-size: 5rem;
            letter-spacing: -0.08em;
            line-height: 4rem;
            font-weight: 500;
        }
        @include respond(tab-port) {margin-top: 2rem;}
    }
    &__item--main &__digits {
        @include respond(tab-port) {
            font-size: 3rem;
            margin-bottom: 2rem;
            & strong { font-size: 10rem;}
        }
    
    }
    &__item--second &__digits {color: $primary-color;}
    &__item--third &__digits {color: $secondary-color;}

    &__paragraph {
        font-weight: 300;
        strong {font-weight: 500;}
    }

}